

.blog-list-container{
  padding: 20px;
  display: flex;
}
.blog-list-image-item{
  width: 95%;
  height: 250px;
  text-align: center;
}
.blog-list-title{
  text-align: center;
  padding: 10px;
}
mat-card:hover{
  box-shadow: 0px 0px 10px 0px;
  color:black;
  background-color: white;
}

.blog-list-item{
  text-align: center;
}