<div class="header">
  <h1 class="service-text mobile-text-lg">
    <span class="gray-text">Do you want more</span>
    <span class="orange-text mobile-text-lg"> Traffic</span> ?
  </h1>

  <div class="container about-us-button mobile-text">
    <a (click)="openDialog()">WORK WITH US</a>
  </div>

  <!--  <div class="container service-button">
      <a href="#">WORK WITH US</a>
      </div> -->
</div>

<!-- blog page sections details start -->

<div style="background: white; color: black; margin: 0%; padding: 0%;">
  <div class=" container content">
    <div class="row">
      <div class="col-md-5 blog-image">
        <img
          src="../../../assets/Website- Development.png"
          alt="websiteDevelopment"
          class="img-content animated pulse mobile-img"
          width="100%"
        />
      </div>
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">Website Development</h2>
        <p class="description mobile-text">
          Your search for Website Designers ends here. A website is like
          beginning stage for a company trying to enter the online space and it
          is very crucial for a website to be responsive. Our team of highly
          qualified professionals helps you to create custom sites for your
          brands which will be user friendly that target efficient user
          engagement. We cover everything from initial coding to designing and
          the final delivery. Our service aim at providing solutions for website
          development to make your website more interactive and intutive.
        </p>

        <button type="button" class="btn btn-outline-warning" (click)="openDialog()">
          Learn More >>
        </button>
      </div>
    </div>
  </div>
  <div class=" container content">
    <div class="row">
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">Search Engine Optimization (SEO)</h2>
        <p class="description mobile-text">
          SEO keeps search result fair. The higher you rank in result pages, the
          more click and traffic your site will get. As being the professionals
          in this field, we help you in making your website appear in the top of
          result page. We cover technical SEO, Content Creation and Media
          Outreach to ensure moreclick and awareness. Contact us today for an
          assessment of your current digital strategy, and let's see how we can
          work together to help you grow.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="openDialog()">
          Learn More >>
        </button>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/SEO.png"
          alt="SEO"
          class="img-content animated pulse mobile-img"
          width="100%"
        />
      </div>
    </div>
  </div>
  <div class=" container content">
    <div class="row">
      <div class="col-md-5">
        <img
          src="../../../assets/SEM.png"
          alt="SEM"
          class="img-content  animated pulse mobile-img"
          width="100%"
        />
      </div>
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">Search Engine Marketing (Paid Ads)</h2>
        <p class="description mobile-text">
          Need help with your PPC, Display or Social Media Ads? We, with the
          right research and a technique, place your Ad in such a way that you
          end up earning far more than it costs to place them. With an increase
          in ad blockers, rising CPCs and growing consumer skepticism of ads, we
          believe that strong focus on quality content & creative is the key to
          driving the positive result. Our team is skilled at helping business
          scale their efforts in paid media by having a laser sharp focus on
          ROI.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="openDialog()">
          Learn More >>
        </button>
      </div>
    </div>
  </div>
  <div class=" container content">
    <div class="row">
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">Social Media Marketing (SMM)</h2>
        <p class="description mobile-text">
          Social Media is like a new world. A world which people are involved
          more than the real one. Social Media is the fastest growing channel in
          digital world and the investment on this platform keeps growing
          because it works. We work with you to define specific audiences and
          affnities to target through Facebook, Instagram, Twitter, Linked In
          and other social platforms to get you content seen. Much like our SEO
          and PPC, best content is like a key for having a great social
          campaign. So we often recommend that you work with us to get the best
          possible ROI.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="openDialog()">
          Learn More >>
        </button>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/SMM.png"
          alt="SMM"
          class="img-content animated pulse mobile-img"
          width="100%"
        />
      </div>
    </div>
  </div>

  <div class=" container content">
    <div class="row">
      <div class="col-md-5">
        <img
          src="../../../assets/Website-Analytics.png"
          alt="WebsiteAnalytics"
          class="img-content  animated pulse mobile-img"
          width="100%"
        />
      </div>
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">Website Analytics</h2>
        <p class="description mobile-text">
          Seeing is believing. We will track your progress using high end
          website analytics tools. With our service, you can build a better
          business world with real answers, real decision and real conversations
          at you finger tips. We regularly give you updates so you can see where
          you stand at any point and asses your ROI as well. Our active
          reporting allows you to focus on your business while we work for you.
          See how we can help you grow you business.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="openDialog()">
          Learn More >>
        </button>
      </div>
    </div>
  </div>

  <div class=" container content">
    <div class="row">
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">App Development</h2>
        <p class="description mobile-text">
          The rapidly increasing app revolution has made innovative and high
          quality mobile based applications the colossal point of attention for
          individuals and business around the world. Start up, Large scale
          businesses, organization etc. all are dependent on these mobile
          application for brand reinforcement, increasing visibilty,
          accessability, seamless scheduling and more. Our service draws in
          experience from all major industries and derives at solution for the
          most complicated challenges. We help enterprises to build sofisticated
          applications that are innovative strong and versatile.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="openDialog()">
          Learn More >>
        </button>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/App-Development.png"
          alt="AppDevelopment"
          class="img-content animated pulse mobile-img"
          width="100%"
        />
      </div>
    </div>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-md-5">
        <img
          src="../../../assets/Email-Marketing.png"
          alt="EmailMarketing"
          class="img-content  animated pulse mobile-img"
          width="100%"
        />
      </div>
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">Email Marketing</h2>
        <p class="description mobile-text">
          We all know email marketing, but email marketing has different side.
          Growing your list size is one of the most effective ways for you to
          transform leads into sales. We help you do this by creating strategic,
          segmented messaging that is sent to the right people at the right
          time. Professional & attractive message lets you charm the customer
          and take the right marketing move. Much like our other services, we
          practise what we preach. Our services ensure that you have your
          potential customer's complete attention.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="openDialog()">
          Learn More >>
        </button>
      </div>
    </div>
  </div>

  <div class=" container content">
    <div class="row">
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">Training</h2>
        <p class="description mobile-text">
          We provide online training on Website Development on trending
          technologies such as Angular , Node JS , React JS , Front-End
          Technolgies , RDBMS , NO RDBMS and WordPress. We also provide online
          training on various Digital Marketing elements such as Search Engine
          Optimization (SEO), Paid Advertisement (Google Ads), Social Media
          Marketing (SEM), Google Analytics and many more.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="openDialog()">
          Learn More >>
        </button>
      </div>
      <div class="col-md-5">
        <img
          src="../../../assets/Training.png"
          alt="Training"
          class="img-content animated pulse mobile-img"
          width="100%"
        />
      </div>
    </div>
  </div>

  <div class=" container content" style="text-align: center;">
    <div class="row service-footer">
      <div class="col-md-12">
        <h2 style="color: #abacae;" class="quote-icon"><i class="fa fa-quote-left"></i></h2>
        <h3 class="mobile-text quote-text">
          A man who stop advertising to save money is like a man who stops a
          clock to save time.
        </h3>

        <h2 class="mobile-text-lg quote-author">- HENRY FORD</h2>
      </div>
    </div>
  </div>
</div>
<!-- blog page sections details ends -->

<app-footer></app-footer>
