<div class="header">
  <h1 class="about-us-text">
    <span class="gray-text">About</span>
    <span class="orange-text orange-text-mobile" style="font-family: 'Audiowide', cursive;"> TEAM ALPHA</span>
  </h1>

  <div class="container work-with-us-button mobile-text">
    <a (click)="navigateToPage('service')">WORK WITH US</a>
  </div>
</div>
<div class="contents">
  <div class="container">
    <div class="main">
      <div class="paragraph mobile-text">
        <p>
          If you have ever wondered: "Where can i find the best Web-Development
          & Digital Marketing service that actually gets results?" then you are
          in a right place.
        </p>
      </div>

      <div class="paragraph mobile-text">
        <p>
          <span  style="font-family: 'Audiowide', cursive;"> TEAM ALPHA</span><span> is a </span>
          <b><span class="orange-text"> dynamic platform</span></b>
          that provides
          <b><span class="orange-text">Digital Marketing </span></b>&
          <b><span class="orange-text"> Web-Development</span></b> services.
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img
            src="../../../assets/about-us.jpg"
            alt="about-us"
            srcset=""
            width="100%"
          />
        </div>
        <div class="col-md-8">
          <p class="paragraph mobile-text">
            For better approachability, we frame the solutions for our clients
            by providing services such as Web Development in trending
            technologies such as Angular , Node JS, React JS and implementing
            various Digital Marketing elements such as Search Engine
            Optimization (SEO), Paid Advertisement (Google Ads), Social Media
            Marketing (SEM), Website Analytics, App Development, Mobile
            Marketing and many more.
          </p>
        </div>

        <div class="col-md-12">
          <p></p>
          <p class="mobile-text">
            We create innovative strategies to grab the attention of your
            customer to optimize the ROI and retention strategies. Team Alpha
            also gives consultation in creating strategies for Online Business
            and to new Entrepreneurs who wants to generate passive income
            online. We strive to transform your business taking it to brand-new
            level.
          </p>

          <p class="team-alpha-text-wrapper">
            <b
              ><span class="team-alpha-text-item orange-text" style="font-family: 'Audiowide', cursive;"
                >TEAM ALPHA
              </span></b
            >
            <span class="sub-text-1">is a team of</span>
            <b
              ><span class="sub-text-2 orange-text">
                highly experienced
              </span></b
            >
            <span  class="sub-text-3">core members.</span>
          </p>

          <p class="mobile-text">
            We do not believe in getting lost in the crowd. So, we differentiate
            ourselves by delivering what we promise. Team Alpha resolves the gap
            between the client's expectation and satisfaction. We also provide
            classroom and online training for the service which we serve.
          </p>

          <p  class="mobile-text-lg last-text">
            So, if you want to occupy the digital space before others, all you
            need to do is click the below button.
          </p>

          <div class="about-us-button" style="text-align: center;">
            <a (click)="navigateToPage('contact')">CONTACT US</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
