<!-- Home page sections details start -->
<div class="container homePage-words">
  <div class="row">
    
    <div class="col-md-12">
      <div class="main-header-text1" style="font-size: 55px;
      width: 1051px;
      height: 245px;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

        <div class="mobile-text-lg">
          WE HELP THE COMPANIES ACROSS THE GLOBE TO <span class="homePage-words-header-orange sub-header-main1"> EXPONENTIALLY GROW THEIR TRAFFIC </span>
        </div>
       <!--  <h1 class="mobile-text-lg">
          We help the Companies across <br />the Globe to <span
            class="homePage-words-header-orange sub-header-main1">exponentially
            grow <br />their traffic</span></h1> -->
      </div>
    </div>
  </div>
  
</div>
<div class="container homePage-words main-header-text2-wrapper">
  <div class="row">
   
    <div class="col-md-12">
      <div class="main-header-text2">
       <!--  <h3 class="mobile-text">
          A Company with the
          <span class="homePage-words-header-orange">proven records </span>
          <br />that can
          <span class="homePage-words-header-orange">deliver results</span>
        </h3> -->

        <div style="height: 47px;
        font-size: 35px;
        text-align: center;">
          A COMPANY WITH THE <span class="homePage-words-header-orange"> PROVEN RECORDS </span> THAT CAN 
          <span class="homePage-words-header-orange"> DELIVER RESULTS</span>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="container homePage-button-wrapper">
  <button (click)="navigateToPage('service')" style="width: 314px;
  height: 86px;
  font-size: 28px;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">WORK WITH US</button>
</div>
<!-- Home page sections details ends -->

<!-- blog page sections details start -->
<div class="home-blog-wrapper">
  <h1 class="blogs-title">BLOGS</h1>
  <div class="container content">
    <div class="row">
      <div class="col-md-5 blog-image">
        <img src="../../../assets/angular.png" alt="Angular" class="img-content animated pulse" width="80%"
          height="200px" (click)="navigateToPage('blogs')" />
      </div>
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">ANGULAR 8</h2>
        <p class="description mobile-text">
          Angular 8 provides features such as declarative templates,
          dependency injection and best patterns to solve everyday development
          problems.
        </p>

        <button type="button" class="btn btn-outline-warning" (click)="navigateToPage('blogs')">
          Know More >>
        </button>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">REACT JS</h2>
        <p class="description mobile-text">
          React JS has become so popular so quickly: working with the DOM API
          is hard. React JS basically gives developers the ability to work
          with virtual browser that is more friendly than the real browser.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="navigateToPage('blogs')">
          Know More >>
        </button>
      </div>
      <div class="col-md-5 blog-image">
        <img src="../../../assets/react.JPG" alt="React" class="img-content animated pulse" width="100%"
          (click)="navigateToPage('blogs')" />
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-5 blog-image">
        <img src="../../../assets/node.JPG" alt="Node" class="img-content  animated pulse" width="100%"
          (click)="navigateToPage('blogs')" />
      </div>
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">NODE JS</h2>
        <p class="description mobile-text">
          Node JS uses an event-driven, non-blocking I/O model that makes it
          lightweight and efficient, perfect for data intensive real-time
          applications that run across distributed devices.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="navigateToPage('blogs')">
          Know More >>
        </button>
      </div>
    </div>
    <!--      <div class=" container content">
          <div class="row">
              <div class="col-md-5">
                  <img src="../../../assets/html-css-js.png" alt="Node" class="img-content  animated pulse"width="100%">
              </div>
              <div class="col-md-7 heading">
                  <h2>HTML5 CSS3 JS</h2>
                  <p class="description">
                    <b>
                        HTML5 is a software solution stack that defines the properties and behaviors of web page content by implementing a markup based pattern to it.
                        Cascading Style Sheets (CSS3) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.
                        JavaScript  often abbreviated as JS, is a high-level, interpreted scripting language that conforms to the ECMAScript specification.
                    </b></p>
              </div>
          </div>
   </div> -->
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-7 heading">
        <h2 class="mobile-text-lg">DIGITAL MARKETING</h2>
        <p class="description mobile-text">
          One of the reasons why Digital Marketing is taking over Traditional
          Marketing is the ability of Internet Marketing tools to interact
          with targeted audiences in real time.
        </p>
        <button type="button" class="btn btn-outline-warning" (click)="navigateToPage('blogs')">
          Know More >>
        </button>
      </div>
      <div class="col-md-5 blog-image">
        <img src="../../../assets/digital-marketing.png" alt="React" class="img-content animated pulse" width="100%"
          (click)="navigateToPage('blogs')" />
      </div>
    </div>
  </div>
</div>
<!-- blog page sections details ends -->

<!-- service page sections details 1 start -->
<div class="home-team-services-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="home-team-services-title">
          <span class="auto-wide-font">TEAM ALPHA </span> <span style="color: #FF5E29;">SERVICES</span>
        </h1>
      </div>

      <div class="col-md-12" style="margin-top: 1%;">
        <h3 class="home-team-services-text">
          With more than<span style="color: #FF5E29;">
            5 Years of experiance</span>
          we have learned what is valuabal for our clients
        </h3>
      </div>

      <div class="col-md-12" style="margin-top: 2%;">
        <div class="row">
          <div class="team-service-item-root">
            <div class="team-service-item-wrapper" *ngFor="let service of services">
              <img src="{{ service.img }}" alt="service" srcset="" />
              <h5 class="mobile-text-sm">{{ service.service }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container homePage-button-wrapper service-button">
    <button (click)="navigateToPage('service')">Explore Our Service</button>
  </div>
</div>
<!-- service page sections details 1 ends -->

<!-- service page sections details 2 start -->
<div style="background: white; margin-top: 2%; color: #26282c;">
  <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
    <div class="row">
      <div class="col-md-12 business-container" style="text-align: center;">
        <h1 class="mobile-text">There is no <span class="orange-text">Digital Strategy</span></h1>
        <h1 class ="business-text-margin">
          There is only <span class="orange-text">Business Strategy </span>in
          <span class="orange-text">Digital World</span>
        </h1>
        <h1 class="mobile-text" style="color: #abacae;"><i class="fa fa-quote-left"></i></h1>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-7">
            <h1 class="business-quote-text">
              If your Business not on the Internet, then your
            </h1>
            <h1 class="business-quote-text">business will be out of Business.</h1>
            <h1 class="business-quote-text-author">-BILL GATES</h1>
          </div>
          <div class="col-md-1"></div>
        </div>
        <h1 class="mobile-text">
          Occupy the <span class="orange-text">Digital Space</span> before
          others
        </h1>
        <div class="container homePage-button-wrapper let-us-button">
          <button (click)="navigateToPage('contact')">LET US HELP YOU</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- service page sections details 2 ends -->

<!-- footer page sections details start -->

<app-footer></app-footer>

<!-- footer page sections details start -->