<div style="background: white; color: #26282C; margin: 0%; padding: 0%;">
  <div class="center">
    <h1>BLOGS</h1>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <a (click)="navigateToBlogLists('blogs/digitalMarketing')">
            <img
              src="../../../assets/digital-marketing.png"
              alt="digital-marketing"
              srcset=""
              height="301px"
              width="100%"
            />
          </a>
        </div>
        <div class="col-md-12">
          <h2>DIGITAL MARKETING</h2>
          <p class="description">
            <b>
              One of the reasons why Digital Marketing is taking over
              Traditional Marketing is the ability of Internet Marketing tools
              to interact with targeted audiences in real time.
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <a href="#">
            <img
              src="../../../assets/angular.png"
              alt="angular"
              srcset=""
              height="300px"
              width="100%"
            />
          </a>
        </div>

        <div class="col-md-12">
          <h2>ANGULAR 8</h2>
          <p class="description">
            <b>
              Angular 8 provides features such as declarative templates,
              dependency injection and best patterns to solve everyday
              development problems.
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <a href="#">
            <img
              src="../../../assets/react.JPG"
              alt="react"
              srcset=""
              height="299px"
              width="100%"
            />
          </a>
        </div>
        <div class="col-md-12">
          <h2>REACT JS</h2>
          <p class="description">
            <b>
              React JS has become so popular so quickly: working with the DOM
              API is hard. React JS basically gives developers the ability to
              work with virtual browser that is more friendly than the real
              browser.
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <a href="#">
            <img
              src="../../../assets/node.JPG"
              alt="node"
              srcset=""
              height="301px"
              width="100%"
            />
          </a>
        </div>
        <div class="col-md-12">
          <h2>NODE JS</h2>
          <p class="description">
            <b>
              Node JS uses an event-driven, non-blocking I/O model that makes it
              lightweight and efficient, perfect for data intensive real-time
              applications that run across distributed devices.
            </b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
