<div class="footer-root">
  <div class="container">
    <div class="row social-container">
      <a  href="https://www.facebook.com/techteamalpha/"  class="social-item-wrapper" target="_blank">
        <div class="social-item-icon">
          <a href="#">
            <i class="fa fa-facebook size-icons" aria-hidden="true"></i></a>
        </div>
        <div class="social-item-followers">
          <div class="space">Follow Us</div>
         <!--  <div class="space">
            {{ facebook }}+
            <span class="sub-follo-fonts" style="font-size: 0.2;">followers</span>
          </div> -->
        </div>
      </a>

      
          <a href="https://www.instagram.com/techteamalpha/" target="_blank" class="social-item-wrapper">
          <div class="social-item-icon">

            <i class="fa fa-instagram size-icons" aria-hidden="true"></i>
          </div>
          <div class="social-item-followers">
            <div class="space">Follow Us</div>
           <!--  <div class="space">
              {{ instagram }}+ <span class="sub-follo-fonts">followers</span>
            </div> -->
          </div>
        </a>
      
      <div class="social-item-wrapper">
        <div class="social-item-icon">
          <a href="#" target="_blank">
            <i class="fa fa-twitter size-icons" aria-hidden="true"></i></a>
        </div>
        <div class="social-item-followers">
          <div class="space">Follow Us</div>
         <!--  <div class="space">
            {{ twitter }}+ <span class="sub-follo-fonts">followers</span>
          </div> -->
        </div>
      </div>
      <div class="social-item-wrapper">
        <div class="social-item-icon">
          <a href="#" target="_blank">
            <i class="fa fa-linkedin size-icons" aria-hidden="true"></i>
          </a>
        </div>
        <div class="social-item-followers">
          <div class="space">Follow Us</div>
         <!--  <div class="space">
            {{ linkedin }}+ <span class="sub-follo-fonts">followers</span>
          </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="team-alpha auto-wide-font">
          TEAM ALPHA
        </div>
      </div>
    </div>
  </div>
</div>